@use '../../styles/colors';
@use '../../styles/spacing';

.img {
  width: spacing.$spacing-150;
  height: spacing.$spacing-200;
  
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  @media (max-width: 768px) {
    align-items: center;
  }
}

.main {
  display: flex;
  justify-content: center;
  gap: spacing.$spacing-40;
  padding: spacing.$spacing-20;
}

.shoppingCart {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: spacing.$spacing-40;
  //position: relative;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    align-items: center;
  }
}

.boxCart {
  display: flex;
  align-items: center;
  gap: spacing.$spacing-30;

  @media (max-width: 768px) {
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.btnStyle {
  color: colors.$white;
  background-color: colors.$black;
  border-radius: spacing.$spacing-3;
  cursor: pointer;
  width: spacing.$spacing-60;
  padding: spacing.$spacing-3;
  font-size: spacing.$spacing-13;
}

.btn {
  display: flex;
  justify-content: center;
  width: spacing.$spacing-220;
  background-color: colors.$orange;
  color: colors.$white;
  border-radius: spacing.$spacing-10;
  padding: spacing.$spacing-12 spacing.$spacing-25;
  margin: spacing.$spacing-5 0;
}



