@use '../../styles/colors';
@use '../../styles/spacing';

.container {
  display: flex;
  align-items: center;
  padding: spacing.$spacing-20 spacing.$spacing-40;
  justify-content: space-evenly;

  @media (max-width: 768px) {
    display: block;
    align-items: center;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & h1 {
    padding-bottom: spacing.$spacing-10;
    font-size: 1.8rem;
    font-weight: bold;
  }

  & h3 {
    font-weight: bold;
    padding-bottom: spacing.$spacing-5;
  }

  @media (max-width: 768px) {
    align-items: center;
  }
}
