$spacing-1: 0.0625rem;
$spacing-10: 0.625rem;
$spacing-15: 0.9375rem;
$spacing-20: 1.25rem;
$spacing-40: 2.5rem;
$spacing-70: 4.375rem;
$spacing-80: 5rem;
$spacing-100: 6.25rem;
$spacing-150: 9.375rem;

$font-md: 1.3em;


