@use '../../styles/colors';
@use '../../styles/spacing';

.about {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #ffbeaa4f, #ff572296),
    url('https://pixabay.com/get/gb999a3be63320afee61857094965d45023dcfd3b639a83e4aa78a8f24ed2faeb7b68a32cefee61489833e2abc3c46e09_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text {
  padding: spacing.$spacing-100;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;

  & h1 {
    padding-bottom: spacing.$spacing-30;
    font-size: 2rem;
    font-weight: bold;
    color: colors.$black;
  }

  & p {
    color: colors.$black;
    line-height: 3;
    font-size: 17px;
    font-weight: 500;
  }
}
